body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: rgb(22, 22, 22);
}

h1{
  color: white;
  text-align: center;
} 

model-viewer {
  width: 850vw;
  height: 80vh;
  margin: 0 auto;
}

model-viewer#reveal {
  --poster-color: transparent;
}

iframe
{
  display: block;
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
}