body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #161616;
}

h1 {
    color: white;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

iframe
{
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

@media only screen and (max-width: 767px){
    iframe
    {
        width: 100vw;
        height: 50vh;
        margin-top: 50%;
    }
}